/* Color Theme Swatches in Hex */
.My-Color-Theme-1-hex { color: #40646B; }
.My-Color-Theme-2-hex { color: #D6EAEE; }
.My-Color-Theme-3-hex { color: #8DDBEB; }
.My-Color-Theme-4-hex { color: #60696B; }
.My-Color-Theme-5-hex { color: #6EABB8; }

/* Color Theme Swatches in RGBA */
.My-Color-Theme-1-rgba { color: rgba(64, 100, 107, 1); }
.My-Color-Theme-2-rgba { color: rgba(214, 234, 238, 1); }
.My-Color-Theme-3-rgba { color: rgba(141, 219, 235, 1); }
.My-Color-Theme-4-rgba { color: rgba(96, 105, 107, 1); }
.My-Color-Theme-5-rgba { color: rgba(110, 171, 184, 1); }

/* Color Theme Swatches in HSLA */
.My-Color-Theme-1-hsla { color: hsla(189, 25, 33, 1); }
.My-Color-Theme-2-hsla { color: hsla(190, 41, 88, 1); }
.My-Color-Theme-3-hsla { color: hsla(190, 70, 73, 1); }
.My-Color-Theme-4-hsla { color: hsla(190, 5, 39, 1); }
.My-Color-Theme-5-hsla { color: hsla(190, 34, 57, 1); }

html {
    margin:0;
    padding: 0;
}

body {
    background-color: #40646B;   
}
main {
    background-color: #D6EAEE;
    margin: 0;
    padding: auto;
   width: 50rem;
   display: flex;
  align-items: center;
  flex-direction: column;
  
   
}

.navtop {
    background-color:#8DDBEB;
    color: #40646B;   
}

.listindication {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    margin: 0;
    
}