/* Color Theme Swatches in Hex */
.My-Color-Theme-1-hex { color: #40646B; }
.My-Color-Theme-2-hex { color: #D6EAEE; }
.My-Color-Theme-3-hex { color: #8DDBEB; }
.My-Color-Theme-4-hex { color: #60696B; }
.My-Color-Theme-5-hex { color: #6EABB8; }

/* Color Theme Swatches in RGBA */
.My-Color-Theme-1-rgba { color: rgba(64, 100, 107, 1); }
.My-Color-Theme-2-rgba { color: rgba(214, 234, 238, 1); }
.My-Color-Theme-3-rgba { color: rgba(141, 219, 235, 1); }
.My-Color-Theme-4-rgba { color: rgba(96, 105, 107, 1); }
.My-Color-Theme-5-rgba { color: rgba(110, 171, 184, 1); }

/* Color Theme Swatches in HSLA */
.My-Color-Theme-1-hsla { color: hsla(189, 25, 33, 1); }
.My-Color-Theme-2-hsla { color: hsla(190, 41, 88, 1); }
.My-Color-Theme-3-hsla { color: hsla(190, 70, 73, 1); }
.My-Color-Theme-4-hsla { color: hsla(190, 5, 39, 1); }
.My-Color-Theme-5-hsla { color: hsla(190, 34, 57, 1); }
/* 
     HTML Basics
*/

html {
    font-size: 10px;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    background-color: #40646B;  
    
}
@import url('https://fonts.googleapis.com/css?family=Caveat&display=swap');

/* 
    Content grid basic
*/

.content {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: minmax(1rem, auto);  
}
/*
    Main parts of the page
*/

header {
    grid-column: 1 / 13;
    width: 100%;
    background-color: #6EABB8;

}  
main {
    grid-column:  3 / 11;
    background-color: #D6EAEE;
    width: 100%;
  
}
footer {
    grid-column: 3 / 10;
    background-color: #D6EAEE;
    width: 85rem;
   
}
aside {
    grid-column: 12 / 13;
    align-self: center;
    
}
/*
    Navigation Bar Top
*/
a:link {
    text-decoration: none;
}
.navtop {
    display: grid;
    grid-template-columns: repeat(6, 2fr);
    grid-template-rows: minmax(0.5rem, 6rem);
    grid-template-areas: "accueil contact medecins horaires urgence propos";
    justify-items: center;
    list-style-type: none;
    color: #40646B;
    font-size: 1.6rem;
    align-items: center;
}
.accueil {
    grid-area: accueil;
}
.accueil:hover {
    color: red;
}
.contact {
    grid-area: contact;
}
.medecins {
    grid-area: medecins;
}
.horaires {
    grid-area: horaires;
}
.urgence {
    grid-area: urgence;
}
.propos {
    grid-area: propos;
}
/* 
    Arrow top and bot
 source : https://www.w3schools.com/howto/howto_css_arrows.asp 
 */

.arrowtop {
    border: solid #D6EAEE;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 2rem;
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    width: 2rem;
    height: 2rem;  

}
.arrowbottom {
    border: solid #D6EAEE;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 2rem;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    width: 2rem;
    height: 2rem;
}
/*
    Pictures
*/
.bannermedical {
    display: grid;
    justify-content: center;
    grid-area: bannermedical;
} 
.picturelogo {
    display: grid;
    justify-content: center;
    grid-area: picturelogo;
}
.bannermedicalpicture {
    display: grid;
    width: 60rem;
    height: 25rem;
    align-content: center;
}
.picturelogomedical {
    width: 20rem;
    height: auto;
}

/*
    Content of the main
*/ 

.nomcabinet {
    display: grid;
    font-family: 'Caveat', cursive;
    justify-items: center;
    font-size: 4.5rem;
    grid-area: nomcabinet;
}
.line1 {
    width: 50rem;
    background-color: #40646B;
    height: 0.5rem;
    grid-area: line1;
}
.presentation {
    text-align: center;
    font-size: 1.7rem;
}
.line2 {
    width: 50rem;
    background-color: #40646B;
    height: 0.5rem;
    grid-area: line2;
}
.phoneadress {
    text-align: center;
    font-size: 1.5rem;
    
}