/* Color Theme Swatches in Hex */
.My-Color-Theme-1-hex { color: #40646B; }
.My-Color-Theme-2-hex { color: #D6EAEE; }
.My-Color-Theme-3-hex { color: #8DDBEB; }
.My-Color-Theme-4-hex { color: #60696B; }
.My-Color-Theme-5-hex { color: #6EABB8; }

/* Color Theme Swatches in RGBA */
.My-Color-Theme-1-rgba { color: rgba(64, 100, 107, 1); }
.My-Color-Theme-2-rgba { color: rgba(214, 234, 238, 1); }
.My-Color-Theme-3-rgba { color: rgba(141, 219, 235, 1); }
.My-Color-Theme-4-rgba { color: rgba(96, 105, 107, 1); }
.My-Color-Theme-5-rgba { color: rgba(110, 171, 184, 1); }

/* Color Theme Swatches in HSLA */
.My-Color-Theme-1-hsla { color: hsla(189, 25, 33, 1); }
.My-Color-Theme-2-hsla { color: hsla(190, 41, 88, 1); }
.My-Color-Theme-3-hsla { color: hsla(190, 70, 73, 1); }
.My-Color-Theme-4-hsla { color: hsla(190, 5, 39, 1); }
.My-Color-Theme-5-hsla { color: hsla(190, 34, 57, 1); }
/* 
     HTML Basics
*/

html {
    font-size: 10px;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    background-color: #40646B;  
    
}
@import url('https://fonts.googleapis.com/css?family=Caveat&display=swap');

/* 
    Content grid basic
*/

.content {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: minmax(1rem, auto);  
}
/*
    Main parts of the page
*/

header {
    grid-column: 1 / 13;
    width: 100%;
    background-color: #6EABB8;

}  
main {
    grid-column:  3 / 11;
    background-color: #D6EAEE;
    width: 100%;
  
}
footer {
    grid-column: 3 / 11;
    background-color: #D6EAEE;
    width: 100%;
   
}
aside {
    grid-column: 12 / 13;
    align-self: center;
    
}
/*
    Navigation Bar Top
*/
a:link {
    text-decoration: none;
}
a:visited {
    color: #40646B;
}
.navtop {
    display: grid;
    grid-template-columns: repeat(6, 2fr);
    grid-template-rows: minmax(0.5rem, 6rem);
    grid-template-areas: "accueil contact medecins horaires urgence propos";
    justify-items: center;
    list-style-type: none;
    font-size: 1.6rem;
    align-items: center;
}
.accueil {
    grid-area: accueil;
}
.accueil:hover {
    color: red;
}
.contact {
    grid-area: contact;
}
.contact:hover {
    color: red;
}
.medecins {
    grid-area: medecins;
}
.medecins:hover {
    color: red;
}
.horaires {
    grid-area: horaires;
}
.horaires:hover {
    color: red;
}
.urgence {
    grid-area: urgence;
}
.urgence:hover {
    color: red;
}
.propos {
    grid-area: propos;
}
.propos:hover {
    color: red;
}
/* 
    Arrow top and bot
 source : https://www.w3schools.com/howto/howto_css_arrows.asp 
 */

.arrowtop {
    border: solid #D6EAEE;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 2rem;
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    width: 2rem;
    height: 2rem;  

}
.arrowbottom {
    border: solid #D6EAEE;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 2rem;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    width: 2rem;
    height: 2rem;
}
/*
    Pictures
*/
.bannermedical {
    display: grid;
    justify-content: center;
} 
.picturelogo {
    display: grid;
    justify-content: center;
}
.bannermedicalpicture {
    display: grid;
    width: 60rem;
    height: 25rem;
    align-content: center;
}
.picturelogomedical {
    width: 20rem;
    height: auto;
}

/*
    Content of the main
*/ 

.nomcabinet {
    display: grid;
    font-family: 'Caveat', cursive;
    justify-items: center;
    font-size: 4.5rem;
    color: #40646B;
}
.line1 {
    width: 50rem;
    background-color: #40646B;
    height: 0.5rem;
    grid-area: line1;
}
.presentation {
    text-align: center;
    font-size: 1.7rem;
    font-style: italic;
    color: #40646B;
}
.line2 {
    width: 50rem;
    background-color: #40646B;
    height: 0.5rem;
    grid-area: line2;
}
.phoneadress {
    text-align: center;
    font-size: 1.5rem;
    font-style: italic;
    
}
/* 
    oval forms contains emergency and contact 
*/
.redoval {
    height: 10rem;
    width: 15rem;
    display: inline-block;
    background-color: red;
    border: solid 0.5rem red;
    border-radius: 10rem / 10rem; 
    margin: 1rem;
}
.emergency {
    text-align: center;
    font-size: 1.5rem;
    color: #D6EAEE; 
}
.blueoval {
    height: 10rem;
    width: 15rem;
    display: inline-block;
    background-color: #6EABB8;
    border: solid 0.5rem #6EABB8;
    border-radius: 10rem / 10rem; 
}
.contactbot {
    color: #40646B;
    font-size: 1.5rem;
    text-align: center;
}
/* 
    Credits
*/
.credits {
    text-align: center;
    font-size: 1.4rem;
    font-style: italic;
}

/* 
    File Contact.html
*/
/*
    Picture
*/
.pictureplan {
    text-align: center;
}
/*
    Form
*/
form {
    text-align: center;   
}
.aroundline {
    color: #40646B;
    font-size: 1.6rem;
    width: 50rem;
    
}
.textform {
    color: black;
    font-size: 1.5rem;
}
.areaform {
    resize: none;
}
/* 
    File Medecins.html 
*/
/* 
    Text 
*/
.nosmedecins {
    text-align: center;
    font-size: 1.7rem;
    color: #40646B;
    font-style: italic;
}
.nomprenom {
    color: #40646B;
    text-align: center;
    font-size: 1.5rem;
}
.shortpresentation {
    text-align: center;
    font-style: italic;
    font-size: 1.4rem;
    color: #40646B;
}
a {
    font-size: 1.5rem;
}
/*
    Pictures
*/
.rossignolpicture {
    text-align: center;
}
.picturerossignol {
    height: 20rem;
    width: auto;
}
.genereuxpicture {
    text-align: center;
}
.picturegenereux {
    height: 20rem;
    width: auto;
}
/*
    File Horaires.Html
*/
/*
    Table 
*/
.table {
    margin: 2rem;
    width: 60rem;
    text-align: center;
    border: solid 3px #40646B;
    border-collapse: collapse;
}
table, th, td {
    border: solid 3px #40646B;
    height: 4rem;
    font-size: 1.5rem;
    color: #40646B;
}
/*
    File Urgence.Html
*/
/*
    Text
*/
.phoneright {
    margin: 2rem;
    text-align: center;
    font-size: 1.7rem;
    color: #40646B;
    font-style: italic;
}
.phoneleft {
    margin: 2rem;
    text-align: center;
    font-size: 1.7rem;
    color: #40646B;
    font-style: italic;
}
/*
    Pictures
*/
.logophone {
    text-align: center;
}
.phonelogo {
    width: 5rem;
    height: auto;
}